{% extends TEMPLATE_BASE%}

{% block title %}{{election.name}}{% endblock %}
{% block content %}
<h2 class="title">{{election.name}} &mdash; Election Administration <span style="font-size:0.7em;">[<a href="{% url helios.views.one_election_view election.uuid %}">back to election</a>]</span></h2>

<div id="breadcrumb">
	administration | 
	election roles | 
	edit role | 
	[<a href="{% url helios.views.one_election_roles_list election.uuid %}">cancel</a>]
</div>

{% include "info-messages.html" %}

<div id="admin_content">
	<form action="" method="post" id="edit_role_form">
		<table class="john_form">
			{{role_form.as_table}}
		</table>
		<div>
			<br />
			<label for="">&nbsp;</label><input type="submit" value="Update" id="edit_role" />
		</div>
	</form>
</div>
{% endblock %}